@model List<CustomVisionHouseFinder.Models.Home.HouseModel>

<div class="row">
    @foreach( var m in Model ) {
        <div class="col-md-6">
            <h2>123 Fake st</h2>
            <p>$1.2m</p>
            <p>
                Has Window: @m.HasThirdStoryWindow
            </p>
        </div>
        <div class="col-md-6">
            <img src="@m.ImageUrl"/>
        </div>
    }
</div>
